<h1 class="masashi">確認画面</h1>

<%= form_for @user_note do |f| %>
    <div class="field">
      <%= f.label :出欠席： %>
      <!--表示用-->
      <%= @confirmation[@user_note.attendance_confirmation] %>
      <!--データ送信用-->
      <%= f.hidden_field :attendance_confirmation %>
    </div>
  <div class="field">
      <%= f.label :体温 %><br />
      <%= f.text_field :body_temperature, readonly: true %>
    </div>
    <div class="field">
      <%= f.label :排泄回数 %><br />
      <%= f.number_field :number_toilet, readonly: true %>
    </div>
      <div class="field">
      <%= f.label :睡眠開始時間 %><br />
      <%= f.time_select :sleep_start, class: 'form-control', readonly: true %>〜
      <%= f.time_select :sleep_end, class: 'form-control', readonly: true %>
    </div>
    <div class="field">
      <%= f.label :朝食 %><br />
      <%= f.text_field :breakfast, readonly: true %>
    </div>
    <div class="field">
      <%= f.label :夕食 %><br />
      <%= f.text_field :dinner, readonly: true %>
    </div>
    <div class="field">
      <%= f.label :おうちでの様子 %><br />
      <%= f.text_field :message, readonly: true %>
    </div>
    <div class="form-group">
      <%=f.label :日付, class: 'control-label'%><br />
      <%= f.date_field :record_date, class: 'form-control', readonly: true %>
    </div>
    <%= f.submit "連絡帳登録" %>
<% end %>


