<div class="col-md-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>確認画面<small>※登録後は削除できません</small></h2>
      <div class="clearfix"></div>
    </div>
    <%= form_for @user_note do |f| %>
    <%= f.hidden_field :record_date %>
    <%= f.hidden_field :attendance_confirmation %>
    <%= f.hidden_field :body_temperature %>
    <%= f.hidden_field :number_toilet %>
    <%= f.hidden_field :sleep_start %>
    <%= f.hidden_field :sleep_end %>
    <%= f.hidden_field :breakfast %>
    <%= f.hidden_field :dinner %>
    <%= f.hidden_field :message %>
      <div class="x_content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>日付：</td>
              <td>
                <%= @user_note.record_date %>
              </td>
            </tr>
            <tr>
              <td>出欠席：</td>
              <td>
                <%= @confirmation[@user_note.attendance_confirmation] %>
                  <%= f.hidden_field :attendance_confirmation %>
              </td>
            </tr>
            <tr>
              <td>体温：</td>
              <td>
                <%= @user_note.body_temperature %>
              </td>
            </tr>
            <tr>
              <td>排泄回数：</td>
              <td>
                <%= @user_note.number_toilet %>回</td>
            </tr>
            <tr>
              <td>睡眠時間：</td>
              <td>
                <%= @user_note.sleep_start %>〜
                  <%= @user_note.sleep_end %>
              </td>
            </tr>
            <tr>
              <td>朝食：</td>
              <td>
                <%= @user_note.breakfast %>
              </td>
            </tr>
            <tr>
              <td>夕食：</td>
              <td>
                <%= @user_note.dinner %>
              </td>
            </tr>
            <tr>
              <td>おうちでの様子：</td>
              <td>
                <%= @user_note.message %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "連絡帳登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
