<div class="x_panel">
<%= render 'layouts/error_messages', item: @user_note %>


    <div class="x_title">
      <h2>userの連絡帳</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= form_with model: @user_note, local: true, url: {action: 'confirm'} do |f| %>
        <p>
          <label>出席確認：</label>
          <div class="field">
            <%= f.radio_button :attendance_confirmation, :ture, {:checked => true}%>
            <%= f.label :attendance_confirmation, "出席", {value: :ture, style: "display: inline-block;"} %>
            <%= f.radio_button :attendance_confirmation, :false %>
            <%= f.label :attendance_confirmation, "欠席", {value: :false, style: "display: inline-block;"} %>
          </div>
        </p>
        <label>体温 :</label>
        <%= f.text_field :body_temperature, class: "form-control"%>
        <label>排泄回数 :</label>
        <%= f.text_field :number_toilet, class: "form-control" %>
        <div class="field">
          <%= f.label :睡眠時間, class: 'control-label' %><br />
          <%= f.time_select :sleep_start, class: 'form-control' %>〜
          <%= f.time_select :sleep_end, class: 'form-control' %>
        </div>
        <label>朝食 :</label>
        <%= f.text_field :breakfast, class: 'form-control' %>
        <label>夕食 :</label>
        <%= f.text_field :dinner, class: 'form-control' %>
        <div class="form-group">
          <%=f.label :日付, class: 'control-label'%><br />
          <%= f.date_field :record_date, class: 'form-control' %>
        </div>
        <p>
          <label for="message">おうちでの様子 :</label>
          <%= f.text_field :message, class: "form-control" %><br>

          <%= link_to("戻る", top_path(), { class: "btn btn btn-primary"}) %>
          <%= f.submit "確認画面へ", class: "btn btn-success" %>
        </p>
      <% end %>
    </div>
</div>››