<div class="page-title">
  <div class="title_left">
    <h3>管理者一覧</h3>
  </div>
</div>


<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <div class="x_content">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>クラス</th>
              <th>名前</th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |admin| %>
              <tr onclick='window.location="<%= '/admins/' + admin.id.to_s %>"' role="link" class="cursor">
                <td>
                  <%= admin.affiliation.affiliation_name%>
                </td>
                <td>
                  <%= admin.last_name + admin.first_name %>
                </td>
              </tr>
              <% end %>
          </tbody>
      </table>
      <div class="col-md-12 col-sm-12  text-center">
        <%= paginate @admins %>
      </div>

      <%= link_to("新規登録画面", new_admins_user_registration_path, { class: "btn btn-success"}) %>
    </div>
  </div>
</div>
