<h1>adminの詳細</h1>

<p><%= @admin.kana_last_name + @admin.kana_first_name%></p>
<p><%= @admin.last_name + @admin.first_name %></p>
<p><%= @admin.age %></p>
<p><%= @admin.phone %></p>
<p><%= @admin.login_id %></p>
<p><%= @admin.email %></p>
<p><%= @admin.affiliation_id %></p>
<p><%= @admin.image_id %></p>


<div><%= link_to '編集', edit_admins_user_registration_path(@admin) %></div>