<h1>adminの詳細</h1>

<p><%= @admin.kana_last_name + @admin.kana_first_name%></p>
<p><%= @admin.last_name + @admin.first_name %></p>
<p><%= @admin.age %></p>
<p><%= @admin.phone %></p>
<p><%= @admin.login_id %></p>
<p><%= @admin.email %></p>
<p><%= @admin.affiliation_id %></p>
<p><%= attachment_image_tag @admin, :image, format: 'jpeg', size: "100x100" %></p>


<div><%= link_to '編集', edit_admin_path(@admin) %></div>


<p> <%= button_to "アカウント削除", admin_path(@admin), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>