<div class="row top_tiles">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa  fa-child"></i></div>
      <div class="count"><%= @attendance[true] %>人</div>
      <h3>今日の出席人数</h3><br>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-bed"></i></div>
      <div class="count"><%= @attendance[false] %>人</div>
      <h3>今日の欠席人数</h3><br>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-users"></i></div>
      <div class="count"><%= @kids["user"] %>人</div>
      <h3>在園児数</h3><br>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div></div>
      <div class="icon"><i class="fa fa-calendar"></i></div>
      <div class="count"><%= Date.today.strftime('%m/%d') %></div>
      <h3>本日の日付</h3><br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="x_title">
          <h2>週間欠席者数</h2>
          <div class="clearfix"></div>
        </div>

          <div class="demo-container" style="height:280px">
            <div id="chart_plot_02" class="demo-placeholder"></div>
          </div>
          <!--<div class="tiles">-->
          <!--  <div class="col-md-4 tile">-->
          <!--    <span>Total Sessions</span>-->
          <!--    <h2>231,809</h2>-->
          <!--    <span class="sparkline11 graph" style="height: 160px;">-->
          <!--      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>-->
          <!--    </span>-->
          <!--  </div>-->
          <!--  <div class="col-md-4 tile">-->
          <!--    <span>Total Revenue</span>-->
          <!--    <h2>$231,809</h2>-->
          <!--    <span class="sparkline22 graph" style="height: 160px;">-->
          <!--      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>-->
          <!--    </span>-->
          <!--  </div>-->
          <!--  <div class="col-md-4 tile">-->
          <!--    <span>Total Sessions</span>-->
          <!--    <h2>231,809</h2>-->
          <!--    <span class="sparkline11 graph" style="height: 160px;">-->
          <!--      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>-->
          <!--    </span>-->
          <!--  </div>-->
          <!--</div>-->

        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
          <div>
            <div class="x_title">
              <h2>本日お休みの子</h2>
              <div class="clearfix"></div>
            </div>
            <ul class="list-unstyled top_profiles scroll-view" style="overflow:auto";>
                  <% @absence.each do |absence| %>
              <li class="media event">
                <a class="pull-left border-aero profile_thumb">
                  <i class="fa fa-user aero"></i>
                </a>
                <div class="media-body">
                  <div class="title" href="#">
                    <%= absence.user.last_name + absence.user.first_name %>
                  </div>
                  <p><%= absence.user.affiliation.affiliation_name %></p>
                  <p> <small>欠席</small>
                  </p>
                </div>
              </li>
                  <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>保護者に表示しているお知らせ</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% @news.each do |news| %>
        <article class="media event">
          <a class="pull-left date">
            <p class="month"><%= news.creation_date.strftime("%m月")%></p>
            <p class="day"><%= news.creation_date.strftime("%d")%></p>
          </a>
          <div class="media-body">

            <% news.affiliation.each do |affiliation| %>
            <p class="title h2_tag"><%= affiliation.affiliation_name %></p>
            <% end %>
          <div class="margin_top7">
            <%= link_to news.message, news_path(news)%>
          </div>
          </div>
        </article>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "flot.js" %>