<div class="col-md-12">
<div class="x_panel">
<div class="x_title">
<h2><%=@user.last_name%>さんの連絡帳一覧</h2>
<ul class="nav navbar-right panel_toolbox">
<li><%= link_to '連絡帳作成する', new_admin_admin_note_path() %></li>
</ul>


<div class="clearfix"></div>
</div>
<div class="x_content">
<table class="table">
<thead>
<tr>
<th></th>
<th></th>

</tr>
</thead>
<% @user.admin_notes.each do |note| %>
<tbody>
<tr onclick='window.location="<%= '/admins/' + @user.id.to_s + '/admin_notes/' + note.id.to_s %>"' role="link" class="cursor">
<td><%= link_to note.record_date, admin_admin_note_path(@user,note) %></td>
<td>記入者：<%= note.creator.last_name %></td>
</tr>
<tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>

