
<div class="page-title">
 <div class="title_left">
  <h3><%=@user.last_name%>さんの連絡帳一覧</h3>
 </div>
 <div class="title_right">
</div>
</div>


<div class="col-md-12">
  <div class="x_panel">
      <div class="x_content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>記録日</th>
              <th>記録者</th>
            </tr>
          </thead>
          <% @admin_note.each do |note| %>
            <tbody>
              <tr onclick='window.location="<%= '/admins/' + @user.id.to_s + '/admin_notes/' + note.id.to_s %>"' role="link" class="cursor">
                <td><%= link_to note.record_date, admin_admin_note_path(@user,note) %></td>
                <td><%= note.creator.last_name + note.creator.first_name %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <div class="col-md-12 col-sm-12  text-center">
          <%= paginate @admin_note %>
     </div>
      </div>
        <%= link_to("戻る", admin_notes_path(), { class: "btn btn btn-primary"}) %>
        <%= link_to("連絡帳作成する", new_admin_admin_note_path(), { class: "btn btn-success"}) %>
    </div>
</div>

