
<h1><%= @admin_note.user.last_name + @admin_note.user.first_name %>さんの連絡帳</h1>
<div class="col-md-6 ">
<div class="x_panel">
<div class="x_title">
<h2><%= @user_note.record_date %><small>保護者より</small></h2>
<!--<ul class="nav navbar-right panel_toolbox">-->
<!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
<!--</li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
<!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--<a class="dropdown-item" href="#">Settings 1</a>-->
<!--<a class="dropdown-item" href="#">Settings 2</a>-->
<!--</div>-->
<!--</li>-->
<!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
<!--</li>-->
<!--</ul>-->
<div class="clearfix"></div>

</div>
<div class="x_content">
<table class="table table-striped">
<thead>
<tr>

<th></th>
<th></th>

</tr>
</thead>
<tbody>
  
<tr>
<td>体温</td>
<td><%= @user_note.body_temperature %></td>
</tr>

<tr>
<td>排泄回数</td>
<td><%= @user_note.number_toilet %></td>
</tr>

<tr>
<td>睡眠時間</td>
<td><%= @user_note.sleep_start %>〜<%= @user_note.sleep_end %></td>
</tr>

<tr>
<td>朝食</td>
<td><%= @user_note.breakfast %></td>
</tr>

<tr>
<td>夕食</td>
<td><%= @user_note.dinner %></td>
</tr>

<tr>
<td>メッセージ</td>
<td><%= @user_note.message %></td>
</tr>

</tbody>
</table>
</div>
</div>

</div>




<div class="col-md-6 ">
<div class="x_panel">
<div class="x_title">
<h2><%= @admin_note.record_date %><small>記入者：<%= @admin_note.creator.last_name %></small></h2>
<!--<ul class="nav navbar-right panel_toolbox">-->
<!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
<!--</li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
<!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--<a class="dropdown-item" href="#">Settings 1</a>-->
<!--<a class="dropdown-item" href="#">Settings 2</a>-->
<!--</div>-->
<!--</li>-->
<!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
<!--</li>-->
<!--</ul>-->
<div class="clearfix"></div>

</div>
<div class="x_content">
<table class="table table-striped">
<thead>
<tr>

<th></th>
<th></th>

</tr>
</thead>
<tbody>
  
<tr>
<td>体温</td>
<td><%= @admin_note.body_temperature %></td>
</tr>

<tr>
<td>排泄回数</td>
<td><%= @admin_note.number_toilet %></td>
</tr>

<tr>
<td>睡眠時間</td>
<td><%= @admin_note.sleep_start %>〜<%= @admin_note.sleep_end %></td>
</tr>

<tr>
<td>主食：<%= @meal.staple_food %></td>
<td><%= @admin_note.staple_food_amount.amount_type %></td>
</tr>

<tr>
<td>主菜：<%= @meal.main_dish %></td>
<td><%= @admin_note.main_dish_amount.amount_type %></td>
</tr>

<tr>
<td>副菜：<%= @meal.side_dish %></td>
<td><%= @admin_note.side_dish_amount.amount_type %></td>
</tr>

<tr>
<td>汁物：<%= @meal.soup %></td>
<td><%= @admin_note.soup_amount.amount_type %></td>
</tr>

<tr>
<td>果物：<%= @meal.fruit %></td>
<td><%= @admin_note.fruit_amount.amount_type %></td>
</tr>

</tbody>
</table>
</div>
<%= link_to("編集", edit_admin_admin_note_path(@admin_note), { class: "btn btn-success btn-sm"}) %>
</div>
</div>
<%= link_to("戻る", admin_admin_notes_path(), { class: "btn btn btn-primary"}) %>



