<h1>保護者が書いてきた今日の様子</h1>

<h1>userの連絡帳</h1>
<h1>今日のもの</h1>

<p><%= @user_note.body_temperature %></p>
<p><%= @user_note.number_toilet %></p>
<p><%= @user_note.sleep_start %></p>
<p><%= @user_note.sleep_end %></p>
<p><%= @user_note.breakfast %></p>
<p><%= @user_note.dinner %></p>
<p><%= @user_note.message %></p>
<p><%= @user_note.record_date %></p>


