<style>
#search{
    width: 60%;
}
#option{
    width: 40%;
}
.submit {
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius:  0px 25px 25px 0px;
    border: 1px solid rgba(221, 226, 232, 0.49);
}
</style>



<div class="col-md-12">
  <div class="x_panel">


  <div class="x_title">
  <div class="page-title">
   <div class="title_left">
    <h3>連絡帳一覧<small>テーブルをクリックして詳細へ</small></h3>
   </div>
   <div class="title_right">
       <%= form_tag(admin_notes_path, :method => 'get') do %>
                <div class="col-md-6 col-sm-6  form-group pull-right top_search">
                    <div class="input-group">
                        <%= text_field_tag :search, '', class: 'form-control form-text', placeholder: "Search for..." %>
                        <%= select_tag 'option', options_for_select([["クラス", "1"],["名前","2"]]), :class => 'form-control form-select' %>
                        <span class="input-group-btn">
                            <%= submit_tag '検索' ,class:"submit btn btn-secondary" %>
                        </span>
                    </div>
                </div>
            <% end %>
  </div>
  </div>
  </div>


    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>クラス</th>
            <th>名前</th>
            <th>年齢</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr onclick='window.location="<%= ' /admins/ ' + user.id.to_s + '/admin_notes ' %>"' role="link" class="cursor">
              <td>
                <%= user.affiliation.affiliation_name %>クラス</td>
              <td>
                <%= link_to user.last_name + user.first_name, admin_admin_notes_path(user)%>
              </td>
              <td>
                <%= user.age %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    <div class="col-md-12 col-sm-12  text-center">
        <%= paginate @users %>
   </div>
    </div>
  </div>
</div>
