<div class="page-title">
  <div class="title_left">
    <h3>園児詳細</h3>
  </div>
</div>


<div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_content">

        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">名前カナ</th>
              <td><%= @user.kana_last_name + @user.kana_first_name%></td>

            </tr>
            <tr>
              <th scope="row">名前</th>
              <td><%= @user.last_name + @user.first_name %></td>

            </tr>
            <tr>
              <th scope="row">年齢</th>
              <td><%= @user.age %>さい</td>
            </tr>

            <tr>
              <th scope="row">電話番号</th>
              <td><%= @user.phone %></td>
            </tr>

            <tr>
              <th scope="row">ログインID</th>
              <td><%= @user.login_id %></td>
            </tr>

            <tr>
              <th scope="row">メール</th>
              <td><%= @user.email %></td>
            </tr>

            <tr>
              <th scope="row">クラス</th>
              <td><%= @user.affiliation.affiliation_name %></td>
            </tr>
              <div class="form-group row">
<div class="col-md-9 offset-md-3">
          </tbody>
        </table>

  <%= link_to("戻る", users_path(), { class: "btn btn-primary"}) %>
  <%= link_to("編集", edit_user_path(@user), { class: "btn btn-success"}) %>
      </div>
    </div>
  </div>