<style>
  ul.list__count {
    width: 100%;
    margin-left: 1px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
  }

  ul.list__count li {
    width: 30%;
    text-align: center;
  }

  .staple_food,
  .main_dish,
  .side_dish,
  .soup,
  .fruit {
    background-color: #fff;
  }

  .staple_food {
    border-left: 5px solid red;
    border-color: red;
  }

  .main_dish {
    border-left: 5px solid skyblue;
    border-color: skyblue;
  }

  .side_dish {
    border-left: 5px solid gold;
    border-color: gold;
  }

  .fruit {
    border-left: 5px solid grey;
    border-color: grey;
  }

  .soup {
    border-left: 5px solid #99ff99;
    border-color: #99ff99;
  }

  /*.media .date .day {*/
  /*  text-align: center;*/
  /*  color: #fff;*/
  /*  font-size: 18px;*/
  /*  margin: 0;*/
  /*  line-height: 40px;*/
  /*  font-weight: bold;*/
  /*}*/

  /*.media .date {*/
  /*  background: #ccc;*/
  /*  width: 52px;*/
  /*  margin-right: 10px;*/
  /*  border-radius: 10px;*/
  /*  padding: 5px;*/
  /*  height: 52px;*/
  /*}*/

  .message {
    font-size: 10;
  }

</style>




<div class="page-title">
  <div class="title_left">
    <h3>ホーム</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="col-md-6">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-cutlery"> </i> 喫食量</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          <!--</li>-->
          <!--<li class="dropdown">-->
          <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
          <!--  <ul class="dropdown-menu" role="menu">-->
          <!--    <li><a href="#">Settings 1</a>-->
          <!--    </li>-->
          <!--    <li><a href="#">Settings 2</a>-->
          <!--    </li>-->
          <!--  </ul>-->
          <!--</li>-->
          <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
          <!--</li>-->
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <% if @meal.nil? %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4 col-xs-12">
              <span>情報がありません</span>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="progress">
                <div class="progress-bar <%= get_amount_color(@admin_note,"staple_food_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "staple_food_amount_id") %>></div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <span>情報がありません</span>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="progress">
                <div class="progress-bar <%= get_amount_color(@admin_note,"main_dish_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "main_dish_amount_id") %>></div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <span>情報がありません</span>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="progress">
                <div class="progress-bar <%= get_amount_color(@admin_note,"side_dish_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "side_dish_amount_id") %>></div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <span>情報がありません</span>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="progress">
                <div class="progress-bar <%= get_amount_color(@admin_note,"soup_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "soup_amount_id") %>></div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <span>情報がありません</span>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="progress">
                <div class="progress-bar <%= get_amount_color(@admin_note,"ruit_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "fruit_amount_id") %>></div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 col-xs-12">
                <span><%= @meal.staple_food %></span>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="progress">
                  <div class="progress-bar <%= get_amount_color(@admin_note,"staple_food_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "staple_food_amount_id") %>></div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <span><%= @meal.main_dish %></span>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="progress">
                  <div class="progress-bar <%= get_amount_color(@admin_note,"main_dish_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "main_dish_amount_id") %>></div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <span><%= @meal.side_dish %></span>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="progress">
                  <div class="progress-bar <%= get_amount_color(@admin_note,"side_dish_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "side_dish_amount_id") %>></div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <span><%= @meal.soup %></span>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="progress">
                  <div class="progress-bar <%= get_amount_color(@admin_note,"soup_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "soup_amount_id") %>></div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <span><%= @meal.fruit %></span>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="progress">
                  <div class="progress-bar <%= get_amount_color(@admin_note,"fruit_amount_id") %>" data-transitiongoal=<%=get_amount(@admin_note, "fruit_amount_id") %>></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
    </div>
  </div>
</div>












<div class="col-md-6 col-xs-12 widget_tally_box">
  <div class="x_panel">
    <div class="x_content">
      <h3 class="name">今日の様子</h3>
      <div class="flex">
        <ul class="list-inline list__count">
          <li>
            <% if @admin_note.nil? %>
              <h3>情報がありません</h3>
              <span>排泄</span>
          </li>
          <li>
            <h3>情報がありません</h3>
            <span>睡眠時間</span>
          </li>
          <li>
            <h3>情報がありません</h3>
            <span>体温</span>
            <% else %>
              <h3>
                <%= @admin_note.number_toilet %>
              </h3>
              <span>排泄</span>
          </li>
          <li>
            <h3>
              <%= get_time(@admin_note.sleep_start) %>〜
                <%= get_time(@admin_note.sleep_end) %>
            </h3>
            <span>睡眠時間</span>
          </li>
          <li>
            <h3>
              <%= @admin_note.body_temperature %>
            </h3>
            <span>体温</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>










<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>保護者に表示しているお知らせ</h2>
        <div class="clearfix"></div>
      </div>
      <% if @news.nil? %>
      <div class="x_content">
        <article class="media event">
          <div class="media-body">
            <p class="title h2_tag">お知らせはありません</p>

          <div class="margin_top7">
            お知らせはありません
          </div>
          </div>
        </article>
      <% else %>
      <div class="x_content">
        <% @news.each do |news| %>
        <article class="media event">
          <a class="pull-left date">
            <p class="month"><%= news.creation_date.strftime("%m月")%></p>
            <p class="day"><%= news.creation_date.strftime("%d")%></p>
          </a>
          <div class="media-body">

            <% news.affiliation.each do |affiliation| %>
            <p class="title h2_tag"><%= affiliation.affiliation_name %></p>
            <% end %>
          <div class="margin_top7">
            <%= news.message %>
          </div>
          </div>
        </article>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

















<div class="clearfix"></div>




<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>保育士からのコメント</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Settings 1</a>
            <a class="dropdown-item" href="#">Settings 2</a>
          </div>
        </li>
        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul class="list-unstyled msg_list">


        <% if @admin_note.nil? %>
          <!--データある時-->
          <li>
            <a>
  <span class="image">
    <%= attachment_image_tag @admin_note, :image, format: 'jpeg', fallback: "user.png", class: "img-circle img-fluid" %>
  </span>
  <span>
  <span></span>
  <!--<span class="time">3 mins ago</span>-->
  </span>
  <span class="message">本日のメッセージはありません。</span>
  </a>
          </li>
          <% else %>
            <!--データない時-->
            <li>
              <a>
  <span class="image">
  <!--<img src="images/img.jpg" alt="img">-->
  <%= attachment_image_tag @admin_note.creator, :image, format: 'jpeg', fallback: "user.png", class: "img-circle img-fluid" %>
  </span>
  <span>
  <span>記入者：<%= @admin_note.creator.last_name + @admin_note.creator.first_name %></span>
  <!--<span class="time">3 mins ago</span>-->
  </span>
  <span class="message"><%= @admin_note.message %>
  </span>
  </a>
            </li>
            <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="clearfix"></div>


<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>連絡帳一覧</h2>
      <!--<ul class="nav navbar-right panel_toolbox">-->
      <!--  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
      <!--  </li>-->
      <!--  <li class="dropdown">-->
      <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
      <!--    <ul class="dropdown-menu" role="menu">-->
      <!--      <li><a href="#">Settings 1</a>-->
      <!--      </li>-->
      <!--      <li><a href="#">Settings 2</a>-->
      <!--      </li>-->
      <!--    </ul>-->
      <!--  </li>-->
      <!--  <li><a class="close-link"><i class="fa fa-close"></i></a>-->
      <!--  </li>-->
      <!--</ul>-->
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="bs-example" data-example-id="simple-jumbotron">

        <div id="user_calendar"></div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "user_calendar.js" %>
