<div class="col-md-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>お知らせ詳細<small><%= @news.creation_date%></small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <% @news.affiliation.each do |affiliation| %>
              <p class="lead"><%= affiliation.affiliation_name%></p>
            <% end %>
            <p><%= @news.message%></p>
          </div>
          <div class="tab-pane" id="profile">Profile Tab.</div>
          <div class="tab-pane" id="messages">Messages Tab.</div>
          <div class="tab-pane" id="settings">Settings Tab.</div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<%= link_to "編集画面へ", edit_news_path(@news), class: "btn btn-success"%>
<%= link_to "戻る", news_index_path(), class: "btn btn-primary"%>
</div>















