<style>

.header__icon {
    width: 32px;
    height: 32px;
}

.login {
  background-image: url("<%= asset_path('devise.jpg') %>");
  background-size: cover;
  background-position-y: -130px;
  height: auto;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  position: relative;
  top: 120px;
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.login_content form input[type="submit"], #content form .submit {
    float: none;
    margin: 0px;
}



</style>



    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
              <h1>Login Form</h1>
            <%= form_for(resource, as: resource_name, url: login_path()) do |f| %>
              <div>
                <%= f.text_field :login_id, autofocus: true, autocomplete: "login_id", :class => 'form-control', :placeholder => "ログインID" %>

              </div>
              <div>
                <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control', :placeholder => "パスワード" %>
              </div>
              <div>

                <%= f.submit "Log in", class: "btn btn-default submit" %>
                <!--<a class="reset_pass" href="#">Lost your password?</a>-->
              </div>
                 <% end %>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><%= image_tag 'childs.png', class: "header__icon" %>くれよん</h1>
                  <p>保育連絡帳</p>
                </div>
              </div>
            </form>
          </section>
        </div>



      </div>
    </div>

