<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <% if current_user.is_admin? %>
            <%= render partial: 'layouts/shared/leftnav' %>
            <% else %>
            <%= render partial: 'layouts/shared/login_user_leftnav' %>
            <% end %>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <%= render partial: 'layouts/shared/topnav' %>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <%= render partial: 'layouts/shared/footer' %>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
